<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="risecommerce_smtp" frontName="risecommerce_smtp">
            <module name="Risecommerce_Smtp" before="Magento_Backend" />
        </route>
    </router>
</config>
